h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

#Initial-text {
  text-align: center;
}

#plane-photos {
  display: block;
  margin: 0 auto ;
}
